h1{
    font-family: 'Caveat', cursive;
}
h1 {
    color: white;
}
* {
    background-color: black;
}
p {
color: white;
}
img {
    border: 5px solid white;
}
.ideal {
    text-align: center;
}